:root {
  /* ThriftMe Color Pallette */
  --delft-blue: #353e68ff;
  --yinmn-blue: #4e598cff;
  --periwinkle: #c5cdf2ff;
  --dark-periwinkle: rgb(119, 129, 173);
  --white: #ffffffff;
  --black: #000000ff;
  --fairy-tale: #f2c5e2ff;
  --dark-fairy-tale: rgb(186, 135, 168);
  --pill-shape: 100px;
  --rounded-corners: 4px;
  --smooth-corners: 45px;
  --ultra-rounded-corners: 2%/25%; /*2%/25%*/
  --downward-tab: 0% 0% 5% 5%/100%;
  --upward-tab: 5% 5% 0% 0%/100%;
  --heart: url("/src/assets/OptHeartMask.svg");
  --nav-height: 10vh;
  --footer-height: 10vh;
  font-family: Merriweather, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--periwinkle);
  text-decoration: inherit;
}

a:hover {
  color: var(--white);
  font-weight: bolder;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  overflow: hidden hidden;
  clip-path: fill-box;
  margin-top: var(--nav-height);
  /* padding-top: 20%; */
  display: flex;
  flex-direction: column;
  flex: 1;
  > * {
    /* height: calc(100vh - var(--nav-height)); */
    align-content: center;
    flex: 1;
  }
}

header,
footer {
  color: var(--white);
  background-color: var(--yinmn-blue);
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  place-items: center stretch;
  text-align: center;
  z-index: 100 !important;
}
header {
  flex: 2;
  height: var(--nav-height);
  position: fixed !important;
}
footer {
  min-height: 5vh;
  max-height: 5vh;
  flex: 1;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--rounded-corners);
  border: 1px solid var(--delft-blue);
  height: 100%;
  width: 100%;
  /* padding: 0.5em; */
  font-size: 5%;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--yinmn-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--yinmn-blue);
  background-color: var(--periwinkle);
  color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
    font-weight: bolder;
  }

  button {
    background-color: #f9f9f9;
  }
}

#navBar {
  /* display: inherit;
  flex-direction: inherit;
  place-items: inherit;
  width: 100%; */
  width: 100%;
  display: flex;
  ul {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    gap: 1vw;
    place-items: center stretch;
    text-align: center;
    margin: 0;
    padding: 0%;
    flex: 1;
  }
}

.navLinks {
  flex: 1;
}

.navSearch {
  flex: 2;
}

.nav-tabs {
  background-color: var(--white);
  border-radius: var(--downward-tab);
  /* var(--ultra-rounded-corners); */
  color: var(--black);
  padding: 2% 5%;
  /* 5% 5% 0% 0%/100%  */
}
.search-bar {
  display: flex;
  flex-direction: row;
  flex: 5;
  background-color: var(--white);
  border-radius: var(--pill-shape);
  min-width: 50vw;
  input {
    width: 90%;
    background-color: transparent;
    border-color: transparent;
    color: var(--black);
  }
  form {
    input:nth-of-type(1) {
      background-color: var(--fairy-tale);
    }
    input:nth-of-type(2) {
      background-color: var(--yinmn-blue);
      color: var(--periwinkle);
    }
  }

  button {
    width: 10%;
    background-color: var(--periwinkle);
    color: var(--yinmn-blue);
    font-size: larger;
    align-content: center;
  }

  button {
    height: 3em;
  }

  button:nth-of-type(1) {
    border-radius: 50% 100% 100% 50%;
    padding: 0.2em 0.01em;
  }

  button:nth-of-type(2)::before {
    content: "\1F50E";
  }

  div {
    display: flex;
    flex-direction: row;
  }
}
.admin-tab {
  border-radius: var(--upward-tab);
  background-color: var(--fairy-tale);
  margin-top: 0;
  height: 2vh;
}
.rounded-corners {
  border-radius: var(--rounded-corners);
  padding: 2% 4%;
}
.ultra-rounded-corners {
  border-radius: var(--ultra-rounded-corners);
  padding: 2% 4%;
}
.smooth-corners {
  border-radius: var(--smooth-corners);
  padding: 2% 4%;
}

.stretch {
  align-content: stretch;
  align-items: stretch;
}
.align-items-center {
  align-items: center;
}
.square {
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 1/1;
  padding: 2% 3%;
}
.flex-h {
  display: flex;
  flex-direction: row;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex {
  flex: 0.1;
}
.move-up {
  margin-bottom: -0.5%;
}
.unexpanded {
  height: 0vh;
  visibility: hidden;
}
.clip-to-screen {
  clip-path: fill-box;
  max-height: 85vh;
  max-width: 100vw;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
.transparent {
  border: transparent;
  background-color: transparent;
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
  text-indent: 2%;
}
.white-bg {
  background-color: var(--white);
}
.alt-light-bg {
  background-color: var(--fairy-tale);
}
.light-bg {
  background-color: var(--periwinkle);
}
.dark-bg {
  background-color: var(--yinmn-blue);
}
.gradient-bg {
  background-color: var(--delft-blue);
  background: linear-gradient(
    90deg,
    var(--periwinkle) 0%,
    var(--delft-blue) 100%
  ) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  img {
    justify-self: right;
  }
}
.fill-screen {
  width: 100%;
  height: 100%;
}
.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
  clip-path: fill-box;
}
.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
  clip-path: fill-box;
}
.split-screen {
  display: flex;
  flex-direction: row;
  /* :nth-child(0){width: 50vw;}
  :nth-child(1){width: 50vw;} */
  > * {
    /* width: 50vw; */
    flex: 1;
  }
  .display-many {
    flex-wrap: wrap;
    > * {
      width: inherit;
    }
  }
}
.three-d-button {
  font-size: x-large;
  align-items: center;
  width: 90%;
  appearance: none;
  border-radius: var(--rounded-corners);
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--delft-blue) 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.three-d-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-periwinkle) 0 -3px 0 inset;
  border-color: var(--dark-periwinkle);
  background-color: var(--periwinkle);
  color: var(--black);
}
.white-button {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  background-color: var(--white);
  font-weight: bolder;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.white-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-fairy-tale) 0 -3px 0 inset;
  border-color: var(--dark-fairy-tale);
  background-color: var(--fairy-tale);
  color: var(--black);
}
.desc-box {
  background-color: var(--periwinkle);
  font-size: larger;
  border-radius: var(--ultra-rounded-corners);
  border: 2px solid var(--delft-blue);
  border-width: 1.75px 2.5px 3px;
  padding: 2%;
  margin: 1% 1%;
  /* flex:2; */
}
.home {
  overflow: visible scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  /* width: 100%; */
  .banner:first-of-type {
    padding-top: 10%;
    /* color: #747bff; */
    * {
      font-size: larger;
    }
    /* padding: 5%; */
    img {
      flex: 2;
      flex-shrink: 3;
      flex-grow: 1;
    }
    > {
      flex: 1;
      flex-grow: 1;
    }
  }
  padding-bottom: 5%;
  .products {
    height: 10vh;
    /* scale: 0.9; */
    /* .item-card>*{
      max-width: 10vw;
      max-height: 10vw;
      sca
    } */
  }
}
.products {
  width: 100%;
  /* .item-card{
    max-height: 10vh;
    max-width: 15vw;
  } */
}
.single-product {
  /* > div {flex:1;}
  .desc-box{flex:2;} */
  :nth-child(1) {
    flex: 1 2;
  }
  :nth-child(2) {
    flex: 2 1;
  }
  .tag {
    /* align-self: baseline; */
    padding: 2px;
    flex: 1;
    /* max-height: 3em; */
    /* p{
      align-self: center;
    } */
  }
}
.small-big-medium-height {
  :nth-child(1) {
    flex: 1;
  }
  :nth-child(2) {
    flex: 3;
  }
  :nth-child(3) {
    flex: 2;
  }
}
.small-big-medium-width {
  :nth-child(1) {
    flex: 1;
  }
  :nth-child(2) {
    flex: 3;
  }
  :nth-child(3) {
    flex: 2;
  }
}
.wrap {
  text-wrap: wrap;
  flex-wrap: wrap;
}
.relative-right-corner {
  /* position: absolute; */
  float: inline-end;
  z-index: 1;
  /* left: 5.5vw;
  top: auto;
  bottom: auto; */
  /* transform: translate(8vw); */
}

.icon {
  width: 10vh;
  height: 10vh;
  svg {
    width: 100%;
    height: 100%;
  }
}
.favorite {
  fill: var(--fairy-tale);
}
.unfavorite {
  fill: var(--white);
}
.checkout {
  display: flex;
  flex-direction: column;
  /* place-content:calc(100vh - 60vw); */
  .dropdown {
    margin-bottom: -0.5%;
  }
  .dropdown > span > p:last-of-type {
    font-size: x-large;
  }
  .display-many {
    place-content: center;
  }
}
.fixed {
  position: fixed !important;
  z-index: 20;
  margin-top: 12vh;
  /* padding-inline: 5%; */
  display: flex;
  flex-direction: column;
  * {
    flex: 1;
  }
}
.fixed + div {
  /* This forcibly recenters things to account for the nav bar */
  position: relative;
  padding-top: calc(20vh + 5%);
  padding-inline: 5vw;
}
.centered {
  /* If something happens you and need to center manually, use this class */
  position: relative;
  padding-top: calc(20vh + 5%);
  padding-inline: 5vw;
}
.allow-overflow-y {
  overflow: visible !important;
}
.rounded-corners {
  border-radius: var(--rounded-corners);
}
.force-tab-shape {
  border-radius: var(--downward-tab) !important;
}
.dropdown {
  z-index: auto;
  /* transform: translateY(-4px); */
  display: flex;
  position: relative;
  offset-position: 1%;
  > button {
    background-color: var(--periwinkle);
    color: var(--delft-blue);
    font-size: larger;
    border-radius: var(--upward-tab);
    border: 2px solid var(--delft-blue) !important;
    z-index: auto;
    border-width: 1.25px 3px 1.75px !important;
  }
  span {
    background-color: var(--white);
    text-wrap: wrap;
  }
}
/* .dropdown:focus{
  background-color: var(--fairy-tale);
} */
.button-box {
  display: flex;
  place-content: stretch space-evenly;
  button {
    width: 100%;
    margin: 0;
    flex: 1;
    border-radius: 0%;
  }
  p,
  input {
    flex: 10;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
  }
}
.info {
  width: inherit;
  height: inherit;
}
.cart {
  display: flex;
  flex: 1;
}
.cart-card {
  width: 30vw;
  height: 15vh;
  background-color: var(--fairy-tale);
  border-radius: 5%;
}
.tag {
  text-transform: capitalize;
  flex-direction: column;
  place-items: center;
  color: var(--delft-blue);
  background-color: var(--periwinkle);
  border-radius: var(--pill-shape);
  border: 0.1em solid var(--delft-blue);
  margin: 0.1em;
  border-width: 1.25px 1.5px 1.8px;

  button {
    width: 100%;
    margin: 0;
    padding: 0.1;
    border-color: transparent;
    background-color: transparent;
  }
}
.force-inherited-dimensions {
  * {
    max-width: inherit;
    max-height: inherit;
  }
}
.force-fill-main {
  height: 85vh;
}
.force-fill-width {
  /* width: calc(100%); */
  width: 100%;
}
.fit-to-parent {
  width: 100%;
  height: 100%;
  flex: 1;
  * {
    width: 100%;
    height: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
  }
}
/* .photo{
  margin: 3%;
} */

.little-margin {
  margin: 1%;
}
.generated-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center stretch;
  margin: 4% 2%;
  margin-top: 1%;
  padding: 2% 1.25%;
  background-color: var(--periwinkle);
  width: -webkit-fill-available;
  /* height: 100% */
  label{flex:1;
    display: flex;
    width: -webkit-fill-available;
    align-items: stretch;
    text-align: center;
  padding: 1% 0.25%;
    input{flex:1};
  }
  input{
    flex:1
  }
  textarea{
    flex:3;
  }
  label>input,label>text-area{
    display: flex;
    width: -webkit-fill-available;
    background-color: var(--white);
  }
  button{
    margin-top: 2%;
    align-self: center;
    font-size: 3em;
  }
}
.form-inputs {
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  text-align: left;
  display: flex;
  label {
    flex: 1;
  }
  input {
    width: -webkit-fill-available;
    align-self: start;
    background-color: var(--white);
    border-radius: var(--rounded-corners);
    font-size: large;
    height: 3em;
    color: var(--black);
  }
}
.display-many {
  flex-wrap: wrap;
  flex: 1;
}
.display-many-span {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}
/* .banner{
  max-height: 30%;
}
.banner>.shop-now{
  div{ max-height: 30%;}
  img{flex:4; max-height: 28%;}
} */
.shop-now {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5 {
    flex: 2;
  }
  button {
    flex: 3;
  }
  /* div{flex:4; aspect-ratio: 1/1;width: 25%;max-width: 20vw; justify-self: flex-end;} */
  /* div{} */
  div + div {
    flex: 4;
    aspect-ratio: 1/1;
    max-width: calc(20vw - 5%);
    object-fit: cover;
    justify-self: right;
  }
}
.shop-now:nth-child(0) {
  flex: 2;
}
.shop-now:nth-child(1) {
  flex: 3;
}
.item-card {
  display: flex;
  flex: 1;
  margin: 1%;
  /* padding: 0% 3%; */
  clip-path: fill-box;
  display: flex;
  flex-direction: column;
  background-color: var(--delft-blue);
  border-radius: var(--rounded-corners);
  img {
    aspect-ratio: 1/1;
    border: 20px solid var(--delft-blue);
    /* width: var(--hw);
    height: var(--hw); */
    min-width: 5%;
    max-width: 15vw;
    align-self: center;
    border-radius: var(--rounded-corners);
    flex: 2;
    /* margin: 5% 2%; */
  }
  > div:nth-of-type(1) {
    background-color: var(--delft-blue);
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    p {
      color: var(--white);
      text-align: start;
      text-indent: 10%;
      font-size: larger;
      margin: 0;
    }
  }
  > div:last-of-type {
    flex: 2;
    display: flex;
    flex-direction: column;
    /* display: block; */
    background-color: var(--periwinkle);
    /* flex: 3; */
    padding: 3% 1%;
    button {
      flex: 1;
    }
    /* justify-items: flex-end; */
  }
  .dropdown {
    width: 95%;
    align-self: center;
    span {
      overflow-wrap: anywhere;
      display: flexbox;
      width: 97%;
      align-self: center;
      p {
        flex: 1;
        clip-path: fill-box;
        place-content: center;
        overflow-wrap: anywhere;
      }
    }
  }
  .three-d-button {
    font-size: medium;
    text-align: center;
    align-self: center;
  }
}
/* .item-card::hover{
  border: 2px solid (--delft-blue);
} */
.center-stretch {
  place-items: center stretch;
  text-align: center;
}
.display-many {
  display: flex;
  place-content: end space-between;
}
.flex-start {
  justify-content: flex-start;
}
.relative-left-corner {
  /* position: absolute; */
  float: left;
  z-index: 1;
  /* left: 5.5vw;
  top: auto;
  bottom: auto; */
  transform: translate(-6vw, -1vh);
}
.context-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  > button {
    border-radius: var(--downward-tab);
    flex: 1;
    height: inherit;
  }
}
span:nth-of-type(even) {
  .tag {
    background-color: var(--fairy-tale);
  }
}
hr {
  border: none;
  color: var(--delft-blue);
  overflow: clip;
  text-align: center;
  height: 5px;
  width: 90%;
}
hr:nth-of-type(even) {
  border-top: 1.5px solid var(--delft-blue);
}
hr:nth-of-type(odd) {
  border-bottom: 1.5px solid var(--delft-blue);
}
.outline-black {
  border: 2px solid var(--black);
}
.error {
  font-size: larger;
  background-color: palevioletred !important;
  color: darkred !important;
}
.positive {
  font-size: larger;
  background-color: darkgreen !important;
  color: springgreen !important;
  padding-inline: 1%;
}
.negative {
  background-color: darkred !important;
  color: pink !important;
  padding-inline: 1%;
}
.dark-text {
  color: var(--delft-blue) !important;
}
.faded-text {
  color: #d6d6e7 !important;
}
.big-text {
  font-size: x-large;
}
.large-text {
  font-size: large;
}
.medium-text {
  font-size: medium;
}
.small-text {
  font-size: small;
}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.scrolling-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.scrolling-ticker {
  display: flex;
  animation: marquee 30s linear infinite;
}

.scrolling-ticker span {
  margin-right: 15rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
