:root {
  /* ThriftMe Color Pallette */
  --delft-blue: #353e68ff;
  --yinmn-blue: #4e598cff;
  --periwinkle: #c5cdf2ff;
  --white: #ffffffff;
  --black: #000000ff;
  --fairy-tale: #f2c5e2ff;
  --pill-shape: 5% /50%;
  font-family: Merriweather, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--periwinkle);
  text-decoration: inherit;
}

a:hover {
  color: var(--white);
  font-weight: bolder;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--delft-blue);
  height: 100%;
  width: 100%;
  /* padding: 0.5em; */
  font-size: 5%;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--yinmn-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--yinmn-blue);
  background-color: var(--periwinkle);
  color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
    font-weight: bolder;
  }

  button {
    background-color: #f9f9f9;
  }
}

main {
  display: flex;
  flex-direction: column;
  place-items: center stretch;
  background-color: var(--white);
  height: 85vh;
  width: 100vw;
}

header,
footer {
  color: var(--white);
  background-color: var(--yinmn-blue);
  height: 10vh;
  display: flex;
  flex-direction: row;
  place-items: center stretch;
  text-align: center;
}

footer {
  height: 5vh;
}

#navBar {
  /* display: inherit;
  flex-direction: inherit;
  place-items: inherit;
  width: 100%; */
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    gap: 1vw;
    place-items: center stretch;
    text-align: center;
    margin: 0;
  }
}

.navLinks {
  flex: 1
}

.navSearch {
  flex: 2
}

.search-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: var(--pill-shape);
  input {
    width: 90%;
    background-color: transparent;
    border-color: transparent;
    color: var(--black);
  }
  form{
    input:nth-of-type(1){
      background-color: var(--fairy-tale);
    }
    input:nth-of-type(2){
      background-color: var(--yinmn-blue);
      color: var(--periwinkle);
    }
  }
  

  button {
    width: 10%;
    background-color: var(--periwinkle);
    color: var(--yinmn-blue);
    font-size: larger;
    align-content: center;
  }

  button {
    height: 3em;
  }

  button:nth-of-type(1) {
    border-radius: 50% 100% 100% 50%;
    padding: 0.2em 0.01em;
  }

  button:nth-of-type(2)::before {
    content: '\1F50E';
  }

  div {
    display: flex;
    flex-direction: row;
  }
}
.square{
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 1/1;
}
.flex-h{
  display: flex;
  flex-direction: row;
}
.flex-v{
  display: flex;
  flex-direction: column;
}
.unexpanded{
  height: 0vh;
  visibility: hidden;
}
.fill-screen{width: 100%; height: 100%;}
.scroll-x{overflow-x: scroll;}
.scroll-y{overflow-y: scroll;}
.split-screen{
  /* :nth-child(0){width: 50vw;}
  :nth-child(1){width: 50vw;} */
  > * {
    width: 50%;
  }
  .display-many{
    flex-wrap: wrap;
    > * {
      width: inherit;
    }
  }
}
/* .split-screen:nth-child(0){width: 50vw;}
.split-screen:nth-child(1){width: 50vw;} */
.checkout{
  
  .dropdown{
    margin-bottom: -0.5%;
  }
}
/* .cart{ width: inherit; height: inherit;} */
.dropdown{
  z-index: auto;
  /* transform: translateY(-4px); */
  
  
  position:relative;
  offset-position: 1%;
  button{background-color: var(--periwinkle);color: var(--delft-blue); font-size: larger; border-radius: 5% 5% 0% 0%/100% ;   border: 2px solid var(--delft-blue);  z-index: auto; 
    border-width: 1.25px 3px 1.75px;}
  span{background-color: var(--white);}
}
.button-box{
  place-content: stretch space-evenly;
  button {
  width: 100%;
  margin: 0;
  flex:1;
  border-radius: 0%;
}
p,input{flex:10; width: 100%; background-color: var(--white); color: var(--black);}
}
.info{
  width: inherit;
  height: inherit;
}
.cart-card{
  width: 30vw;
  height: 15vh;
  background-color: var(--fairy-tale);
  border-radius: 5%;
}
.tag {
  flex-direction: column;
  place-items: center;
  color: var(--delft-blue);
  background-color: var(--periwinkle);
  border-radius: 50%/100%;

  button {
    width: 100%;
    margin: 0;
    padding: 0.1;
    border-color: transparent;
    background-color: transparent;
  }
}
.fit-to-parent{
  width: 100%;
  height: 100%;
}
/* .display-many{flex-wrap: wrap; place-content: end center;} */
.item-card {
  /* width: 15%;
  height: 15%; */
  margin: 1%;
  /* padding: 0% 3%; */
  clip-path: fill-box;
  display: flex;
  flex-direction: column;
  background-color: var(--delft-blue);
  border-radius: 2.5%;
  img{
    min-height: 25vh;
    max-height: 25vh;
    border-radius: 2.5%;
    flex:2
  }
  a{color:var(--delft-blue); font-size: x-large;}
  >div:nth-of-type(1){
    background-color: var(--delft-blue);
    
    flex:1;
    p{color:var(--white);text-align: start; text-indent: 10%; font-size: larger; margin: 0;}
    /* :last-child {
      align-self: center;
    } */
  }
  >div:nth-of-type(2){
    background-color: var(--periwinkle);
    flex:3;
    padding: 5% 3%;
    /* padding-inline: 3%; */
  }
  button{font-size:medium;}
}
.desc-box{
  background-color: var(--periwinkle);
  font-size: larger; 
  border-radius: 2%/25%;
  border: 2px solid var(--delft-blue);
  border-width: 1.75px 2.5px 3px;
  padding: 2%;
  margin: 1% 1%;
  flex:2;
}
.display-many{
  display: flex;
  place-content: end space-between;
}
.flex-start{
  justify-content: flex-start;
}
span:nth-of-type(even){
  .tag{
    background-color: var(--fairy-tale);
  }
}

.transparent {
  border: transparent;
  background-color: transparent;
}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}